//  ==========================================================================
//  Mixins
//  @group Mixins
//  To use a mixin for a particular rule, add this inside the ruleset's
//  curly brackets:
//  @example
//    @include mix-in-name;
//  ==========================================================================

@mixin transform($var...) {
    -webkit-transform: $var;
    -moz-transform: $var;
    -ms-transform: $var;
    -o-transform: $var;
    transform: $var;
}

@mixin transition($var...){
  -webkit-transition: $var;
  -moz-transition: $var;
  -ms-transition: $var;
  -o-transition: $var;
  transition: $var;
}
@mixin animation($var...){
  -webkit-animation: $var;
  -moz-animation: $var;
  -ms-animation: $var;
  -o-animation: $var;
  animation: $var;
}

// set REM size
// usage
//  @include font-size(14px);
@mixin font-size($size: 1) {
  font-size: $size + rem;
}
// Everything above and including the tablet portrait
@mixin tablet-portrait-and-up {
  @media (min-width : 48rem) { // 768px
    @content;
  }
}

@mixin tablet-landscape-and-up {
  @media (min-width : 64rem) {  // 1024px
    @content;
  }
}

// below tablet portrait
// @mixin below-tablet-portrait {
//   @media (max-width : 51.9rem) { // 831px
//     @content;
//   }
// }

