.btn {
  color: $white;
  border: none;
  outline: none;
  text-align: center;
  display: block;
  font-size: 1.3rem;
  line-height: 1.3rem;
  padding: 1rem 5rem;
}

.btn-hollow {
  border: 1px solid $white;
  background: none;
  @include transition(0.25s ease);
  &:hover {
    color: $voltage-headline-secondary-red;
    background: $white;
    @include transition(0.25s ease);
  }
}

.btn-red {
  background-color: $button-red;
}