h1, h2, h3, h4, .btn {
  text-transform: uppercase;
}

h1, h3 {
  color: $voltage-headline-red;
}

h1 {
  font-size: 2.1rem;
  line-height: 3.2rem;
}

h2 {
  color: $white;
  font-size: 3.1rem;
  line-height: 3.1rem;
  font-weight: 700;
}

h3 {
  font-size: 2.1rem;
  font-weight: 700;
  letter-spacing: 0.33px;
  line-height: 2.3rem;
  @include tablet-portrait-and-up {
    font-size: 3.1rem;
  }
}

h4 {
  color: $voltage-headline-secondary-red;
  font-size: 1.6rem;
  letter-spacing: 0.36px;
  line-height: 2.5rem;
  margin-bottom: 0;
  @include tablet-portrait-and-up {
    font-size: 1.8rem;
  }
}

p {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: lighter;
}
