*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  width: 100%;
  font-weight: 400;
  font-family: "canada-type-gibson", Helvetica, sans-serif;
  @include font-size(1.6);
}

html {
  font-size: 62.5%;
}

img {
  width: 100%;
}

