.grid-third {
  display: block;
  
  .col {
    width: 100%;
    margin: 2rem 0;
    padding: 0 2rem;
  }
}

@include tablet-portrait-and-up {
  .grid-third {
    display: flex;
    justify-content: space-between;

    .col {
      width: 32%;
    }
  }
}