.md-content {
  transform: scale(0.7);
  opacity: 0;
  transition: all 0.3s;
  color: #262626;
  background: white;
  position: relative;
  border-radius: 3px;
  margin: 0 auto;
  line-height: 1.4;
  h3 {
    color: #c7bda4;
  }
}

.md-show .md-content {
  transform: scale(1);
  opacity: 1;
}

.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 550px;
  min-width: 300px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateX(-50%) translateY(-50%);
}

.md-show {
  visibility: visible;
}

.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: $white;
  transition: all 0.3s;
}

.md-show ~ .modal-overlay {
  opacity: 0.8;
  visibility: visible;
}

.modal-more {
  position: absolute;
  top: 50%;
  color: white;
  left: 40px;
  @include transform(translateY(-50%));
}

.md-content {
  padding: 40px 40px 20px;
  p {
    color: #777777;
  }
}

.md-close {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  cursor: pointer;
  color: black;
  font-size: 2.4rem;
  @include transform(translateY(-50%));
}