.top-nav {
  display: flex;
  .inner-container {
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: flex-end;
  }
  h1 {
    margin: 0;
  }
}

.nav-logo {
  width: 4.4rem;
  height: 5rem;
  @include tablet-portrait-and-up {
    width: 9.4rem;
    height: 11rem;
    margin-right: 2rem;
  }
}

.left-nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 100%;
  z-index: 1;
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.22);
  @include tablet-portrait-and-up {
    flex-basis: 60%;
    justify-content: flex-start;
    box-shadow: none;
  }
}

.right-nav-items {
  display: flex;
  flex-basis: 100%;
  @include tablet-portrait-and-up {
    flex-basis: 40%;
    align-items: center;
    justify-content: flex-end;
  }
  a {
    display: none;
    @include tablet-portrait-and-up {
      display: flex;
      color: $button-red;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      margin: 0 3rem;
    }
  }

  .btn-red {
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding: 1.2rem 0;
    @include tablet-portrait-and-up {
      width: auto;
      font-size: 1.3rem;
      line-height: 1.3rem;
      padding: 1rem 3rem;
    }
  }
}

.menu-icon {
  position: relative;
  cursor: pointer;
  width: 26px;
  display: block;
  margin-right: 1rem;
  &:hover {
    .menu-bar {
      background-color: lighten($voltage-headline-red, 20%);
      @include transition(0.25s ease);
    }
  }
  @include tablet-portrait-and-up {
    display: none;
  }
}

.menu-bar {
  width: 100%;
  height: 2px;
  background-color: $voltage-headline-red;
  display: block;
  @include transition(0.25s ease);
}

.bar-1 {
  margin-bottom: 5px;
}

.bar-2 {
  margin-bottom: 5px;
}