.inner-container {
  max-width: 120rem;
  width: 100%;
  display: flex;
  margin: 0 auto;
}
.hero {
  background-image: url("../images/Home-team-hi-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  position: relative;
  padding: 3rem 2rem;
  @include tablet-portrait-and-up {
    padding-top: 14rem;
    padding-bottom: 14rem;
    background-image: url("../images/Home-team-hi-desktop.jpg");
  }
  &:after {
    content: '';
    background-color: rgba(0,0,0,0.67);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .btn-hollow {
    margin: 2.5rem auto;
  }
}

.hero-content-wrapper {
  max-width: 80rem;
  margin: 0 auto;
  z-index: 2;
  position: relative;
}

.hero-copy {
  color: $white;
  @include tablet-portrait-and-up {
    font-size: 2rem;
    line-height: 3.2rem;
    font-weight: 200;
    padding: 3rem 0
  }
}

.member-section {
  align-items: center;
  flex-wrap: wrap;
  padding: 3rem 0;
  @include tablet-portrait-and-up {
    padding: 6rem 0;
  }
  h3 {
    flex-basis: 100%;
    text-align: center;
  }
  .btn-red {
    margin: 0 auto;
  }
}

.btn-container {
  flex-basis: 100%;
  @include tablet-portrait-and-up {
    margin: 4rem auto;
  }
}

.member-items {
  max-width: 80rem;
  margin: 0 auto;

  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @include tablet-portrait-and-up {
      text-align: left;
    }
  }

  img {
    max-width: 6.4rem;
    @include tablet-portrait-and-up {
      width: 12.8rem;
      height: 12.8rem;
      max-width: 100%;
      margin: 3rem 0;
    }
  }
}